## Preprocessing

In [43]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(["EIN","NAME"],axis=1)
new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [45]:
# Determine the number of unique values in each column.
for i in new_application_df.columns:
    print(i, len(new_application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [46]:
# Look at APPLICATION_TYPE value counts for binning
counts = new_application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [47]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    new_application_df['APPLICATION_TYPE'] = new_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [48]:
# Look at CLASSIFICATION value counts for binning
classification_count = new_application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [49]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [50]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    new_application_df['CLASSIFICATION'] = new_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
new_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [51]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(new_application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [52]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop('IS_SUCCESSFUL', axis=1).values
y = dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [53]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_layer1 = 80
hidden_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                3520

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
# Create a callback that saves the model's weights every five epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Set checkpoints
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback
callbacks = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [34]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[callbacks])

Epoch 1/50
804/804 [==============================] - 1s 827us/step - loss: 0.5688 - accuracy: 0.7228
Epoch 2/50
804/804 [==============================] - 1s 828us/step - loss: 0.5552 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 1s 826us/step - loss: 0.5522 - accuracy: 0.7322
Epoch 4/50
804/804 [==============================] - 1s 831us/step - loss: 0.5505 - accuracy: 0.7312
Epoch 5/50
797/804 [============================>.] - ETA: 0s - loss: 0.5500 - accuracy: 0.7315
Epoch 5: saving model to checkpoints\weights.5.hdf5
804/804 [==============================] - 1s 851us/step - loss: 0.5503 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 865us/step - loss: 0.5486 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 846us/step - loss: 0.5470 - accuracy: 0.7320
Epoch 9/50
804/804 [==============================] - 1s 835us/step - loss: 0.5461 - accuracy: 0.7335
Epoch 10/50
774/804 [===========================>..] - ETA: 0s - loss: 0.5477 - accuracy: 0.7320
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 990us/step - loss: 0.5465 - accuracy: 0.7330
Epoch 11/50
804/804 [==============================] - 1s 834us/step - loss: 0.5456 - accuracy: 0.7350
Epoch 12/50
804/804 [==============================] - 1s 840us/step - loss: 0.5453 - accuracy: 0.7344
Epoch 13/50
804/804 [==============================] - 1s 835us/step - loss: 0.5447 - accuracy: 0.7338
Epoch 14/50
804/804 [==============================] - 1s 831us/step - loss: 0.5445 - accuracy: 0.7355
Epoch 15/50
791/804 [============================>.] - ETA: 0s - loss: 0.5442 - accuracy: 0.7363
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 845us/step - loss: 0.5441 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 1s 844us/step - loss: 0.5442 - accuracy: 0.7351
Epoch 17/50
804/804 [==============================] - 1s 839us/step - loss: 0.5434 - accuracy: 0.7355
Epoch 18/50
804/804 [==============================] - 1s 838us/step - loss: 0.5432 - accuracy: 0.7359
Epoch 19/50
804/804 [==============================] - 1s 833us/step - loss: 0.5430 - accuracy: 0.7352
Epoch 20/50
787/804 [============================>.] - ETA: 0s - loss: 0.5429 - accuracy: 0.7348
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 850us/step - loss: 0.5427 - accuracy: 0.7352
Epoch 21/50
804/804 [==============================] - 1s 839us/step - loss: 0.5424 - accuracy: 0.7361
Epoch 22/50
804/804 [==============================] - 1s 937us/step - loss: 0.5426 - accuracy: 0.7367
Epoch 23/50
804/804 [==============================] - 1s 920us/step - loss: 0.5424 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 25/50
771/804 [===========================>..] - ETA: 0s - loss: 0.5413 - accuracy: 0.7364
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 866us/step - loss: 0.5419 - accuracy: 0.7358
Epoch 26/50
804/804 [==============================] - 1s 873us/step - loss: 0.5416 - accuracy: 0.7366
Epoch 27/50
804/804 [==============================] - 1s 996us/step - loss: 0.5416 - accuracy: 0.7364
Epoch 28/50
804/804 [==============================] - 1s 838us/step - loss: 0.5409 - accuracy: 0.7376
Epoch 29/50
804/804 [==============================] - 1s 860us/step - loss: 0.5410 - accuracy: 0.7348
Epoch 30/50
789/804 [============================>.] - ETA: 0s - loss: 0.5406 - accuracy: 0.7373
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 31/50
804/804 [==============================] - 1s 855us/step - loss: 0.5410 - accuracy: 0.7368
Epoch 32/50
804/804 [==============================] - 1s 843us/step - loss: 0.5400 - accuracy: 0.7384
Epoch 33/50
804/804 [==============================] - 1s 838us/step - loss: 0.5402 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 1s 834us/step - loss: 0.5402 - accuracy: 0.7371
Epoch 35/50
790/804 [============================>.] - ETA: 0s - loss: 0.5399 - accuracy: 0.7364
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 845us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 36/50
804/804 [==============================] - 1s 841us/step - loss: 0.5399 - accuracy: 0.7382
Epoch 37/50
804/804 [==============================] - 1s 838us/step - loss: 0.5397 - accuracy: 0.7377
Epoch 38/50
804/804 [==============================] - 1s 829us/step - loss: 0.5397 - accuracy: 0.7380
Epoch 39/50
804/804 [==============================] - 1s 830us/step - loss: 0.5392 - accuracy: 0.7388
Epoch 40/50
797/804 [============================>.] - ETA: 0s - loss: 0.5395 - accuracy: 0.7377
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 841us/step - loss: 0.5394 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 1s 840us/step - loss: 0.5396 - accuracy: 0.7374
Epoch 42/50
804/804 [==============================] - 1s 833us/step - loss: 0.5392 - accuracy: 0.7381
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 44/50
804/804 [==============================] - 1s 858us/step - loss: 0.5391 - accuracy: 0.7384
Epoch 45/50
787/804 [============================>.] - ETA: 0s - loss: 0.5386 - accuracy: 0.7382
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 985us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 46/50
804/804 [==============================] - 1s 856us/step - loss: 0.5390 - accuracy: 0.7383
Epoch 47/50
804/804 [==============================] - 1s 832us/step - loss: 0.5387 - accuracy: 0.7385
Epoch 48/50
804/804 [==============================] - 1s 825us/step - loss: 0.5383 - accuracy: 0.7386
Epoch 49/50
804/804 [==============================] - 1s 837us/step - loss: 0.5388 - accuracy: 0.7387
Epoch 50/50
790/804 [============================>.] - ETA: 0s - loss: 0.5382 - accuracy: 0.7380
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 849us/step - loss: 0.5384 - accuracy: 0.7379

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5526 - accuracy: 0.7308 - 170ms/epoch - 635us/step
Loss: 0.5525663495063782, Accuracy: 0.7308454513549805

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Initial.h5')

In [62]:
len(X_train_scaled[0])

43

### Model Version 2

In [26]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=5), activation=activation, input_dim=len(X_train_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [28]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

Using TensorFlow backend

In [29]:
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 01m 34s]
val_accuracy: 0.7325947284698486

Best val_accuracy So Far: 0.7334110736846924
Total elapsed time: 01h 03m 16s

In [65]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 56,
 'num_layers': 4,
 'units_0': 46,
 'units_1': 41,
 'units_2': 71,
 'units_3': 31,
 'units_4': 61,
 'units_5': 31,
 'tuner/epochs': 50,
 'tuner/initial_epoch': 17,
 'tuner/bracket': 3,
 'tuner/round': 3,
 'tuner/trial_id': '0047'}

In [68]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7334 - 351ms/epoch - 1ms/step
Loss: 0.5584162473678589, Accuracy: 0.7334110736846924

In [69]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimal1.h5')

### Model Version 3

In [54]:
## Change activation function by layer

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_layer1_final = 56
hidden_layer2_final = 46
hidden_layer3_final = 41
hidden_layer4_final = 71
hidden_layer5_final = 31

nn_model_3 = tf.keras.models.Sequential()

# First hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=hidden_layer1_final, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=hidden_layer2_final, activation="tanh"))

# Third hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=hidden_layer3_final, activation="sigmoid"))

# Fourth hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=hidden_layer4_final, activation="sigmoid"))

# Fifth hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=hidden_layer5_final, activation="sigmoid"))

# Output layer
nn_model_3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_3.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 56)                2464

 dense_27 (Dense)            (None, 46)                2622

 dense_28 (Dense)            (None, 41)                1927

 dense_29 (Dense)            (None, 71)                2982

 dense_30 (Dense)            (None, 31)                2232

 dense_31 (Dense)            (None, 1)                 32

=================================================================
Total params: 12259 (47.89 KB)
Trainable params: 12259 (47.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [55]:
# Compile the model
nn_model_3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [56]:
# Create a callback that saves the model's weights every five epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Set checkpoints
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback
callbacks = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [57]:
# Train the model
fit_model_final = nn_model_3.fit(X_train_scaled,y_train,epochs=50,callbacks=[callbacks])

Epoch 1/50
804/804 [==============================] - 2s 992us/step - loss: 0.5891 - accuracy: 0.7079
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 1s 972us/step - loss: 0.5555 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 1s 983us/step - loss: 0.5540 - accuracy: 0.7315
Epoch 5/50
774/804 [===========================>..] - ETA: 0s - loss: 0.5533 - accuracy: 0.7310
Epoch 5: saving model to checkpoints\weights.5.hdf5
804/804 [==============================] - 1s 994us/step - loss: 0.5532 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 976us/step - loss: 0.5511 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7319
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7325
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7333
Epoch 10/50
778/804 [============================>.] - ETA: 0s - loss: 0.5475 - accuracy: 0.7344
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 1s 965us/step - loss: 0.5469 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7337
Epoch 15/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5448 - accuracy: 0.7358
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7359
Epoch 20/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5421 - accuracy: 0.7375
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7361
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7363
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 25/50
781/804 [============================>.] - ETA: 0s - loss: 0.5413 - accuracy: 0.7373
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7363
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7363
Epoch 30/50
797/804 [============================>.] - ETA: 0s - loss: 0.5396 - accuracy: 0.7362
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 32/50
804/804 [==============================] - 1s 986us/step - loss: 0.5398 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 35/50
790/804 [============================>.] - ETA: 0s - loss: 0.5389 - accuracy: 0.7376
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7379
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7379
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7382
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7374
Epoch 40/50
798/804 [============================>.] - ETA: 0s - loss: 0.5381 - accuracy: 0.7377
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 45/50
783/804 [============================>.] - ETA: 0s - loss: 0.5366 - accuracy: 0.7391
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7382
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7387
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 50/50
779/804 [============================>.] - ETA: 0s - loss: 0.5366 - accuracy: 0.7385
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7385

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5523 - accuracy: 0.7282 - 305ms/epoch - 1ms/step
Loss: 0.5522961020469666, Accuracy: 0.7281632423400879

In [59]:
nn_model_3.save('AlphabetSoupCharity_v3.h5')

C:\Users\quazc\anaconda3\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(